{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META NAME="Title" CONTENT="Chetan Keshav -- UX Designer">
    <META NAME="Keywords" CONTENT="UX Designer web development">
    <META NAME="Description" CONTENT=" Chetan Keshav -- UX Designer I am a UX Designer from Ann Arbor, MI at the University of Michigan and I like to research and develop people centric solutions">
    <meta name="google-site-verification" content="YGRzDu9g5NQDDt6szyT9Gu-nteN8Wa2yWsyyNe4vwZE" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Open+Sans:400,600,700|Domine:400,700" rel="stylesheet">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{root}}apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root}}apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root}}apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{root}}apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{root}}apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{root}}apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{root}}apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{root}}apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{root}}favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{root}}favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{root}}favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{root}}favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{root}}favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136944631-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-136944631-1');
    </script>



  </head>
  <body>

        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLBNFHT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="lightbox" class="close"><img class="closeIcon" src="{{root}}assets/img/close.png"><img class="main" src=""></div>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}
    {{> footer}}
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>