---
title: Chetan Keshav -- UX Designer
---
<div class="top-bg">
<section class="top-logo">
      <div class="">
          <img class="logo" src="{{root}}/assets/img/logo_horizontal.svg">
      </div>
      
      <div class="header">
        <span class="right open-button">
          <!-- <a href="#projects">Projects</a>
            <a href="mailto:kchetan@umich.edu">Contact</a> -->
            <a href="#projects" class="hide-for-small-only">Projects</a>
            <a href="{{root}}/assets/Chetan_Keshav_resume.pdf">Resume</a>
          </span>
        </div>
  </section>
  <section id="introduction">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="large-offset-1 large-10 cell subtitle">
          <p>Hello! I’m Chetan,</p>
          <p>a <span class="underline">UX Designer</span> who can also code.</span></p>
          <p>I like to design & develop thoughtful products.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="field hide-for-small-only">
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>  
      </div>         
      
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div> 
      </div>          
      
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>
      </div>           
      
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>  
      </div>         
      
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>   
      </div>        
      
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade color"></div></div>           
          <div class="blade-cover"><div class="blade color"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>   
      </div>        
      
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade color"></div></div>           
          <div class="blade-cover"><div class="blade color"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>    
      </div>       
      
      <div class="line">
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>           
          <div class="blade-cover"><div class="blade"></div></div>   
      </div>        
  </div>


</div>
  <section id="projects">
    <div class="grid-container">
      
      <div class="project gale">
        <a href="/project/gale" class="link block-link">
          <div class="grid-x grid-margin-x">
            <div class="large-offset-1 large-5 small-8 left">
              <p class="project-title">Transcription & Collaboration</p>
              <p class="description">Summer Iternship at GALE Cengage.</p>
              <p class="description">Allow researchers to transcribe documents are collaborate with each other</p>
              <p class="fake-lnk">View Project</p>
            </div>
            <div class="large-6 large-offset-0 left image-container small-6 small-offset-1">
              <img src="{{root}}assets/img/gale_blob.png" >
            </div> 
          </div>
        </a>
      </div>
      
      <div class="project brushybuddy right">
        <a href="/project/brushybuddy" class="link block-link">
          <div class="grid-x grid-margin-x hide-for-small-only">
            <div class="large-5 large-offset-0 right image-container small-8 small-offset-2">
              <img src="{{root}}assets/img/brushybuddy_blob.png" >
            </div>
            <div class="large-offset-1 large-5 right small-8">
              <p class="project-title">BrushyBuddy</p>
              <p class="description">A smart tootbrush to teach children how to brush the right way. Guarantees parent's peace of mind with an app.</p>
              <p class="fake-lnk">View Project</p>
            </div>
          </div>

          <div class="grid-x grid-margin-x show-for-small-only">
            <div class="large-offset-1 large-5 right small-8">
              <p class="project-title">BrushyBuddy</p>
              <p class="description">A smart tootbrush to teach children how to brush the right way. Guarantees parent's peace of mind with an app.</p>
              <p class="fake-lnk">View Project</p>
            </div>
            <div class="large-5 large-offset-1 right image-container small-6 small-offset-1">
              <img src="{{root}}assets/img/brushybuddy_blob.png" >
            </div>
          </div>
        </a>
      </div>
      
      <div class="project chi left">
        <a href="/project/athletejuvo" class="link block-link">
          <div class="grid-x grid-margin-x">
            <div class="large-offset-1 large-5 left small-6">
              <p class="project-title">AthleteJuvo</p>
              <p class="description">What happens when athletes get injured and get cutoff from their social circle?</p>
              <p class="fake-lnk">View Project</p>
            </div>
            <div class="large-5 large-offset-1 left image-container small-6 small-offset-1">
              <img src="{{root}}assets/img/athletejuvo_blob.png" >
            </div>
          </div>
        </a>
      </div>

      <div class="project-small grid-x grid-margin-x">
        <div class="large-3 large-offset-2 small-12">
          <a href="/project/brand/" class="block-link">
            <img src="{{root}}assets/img/logo_light.svg" alt="">
            <p class="project-title">Branding v1</p>
            <p class="description">My first attempt at creating a brand identity for myself.  </p>
            <p class="fake-lnk">View Project</p>
          </a>
        </div>
        <div class="large-3 large-offset-2 small-12">
          <a href="/project/midojo" target="_blank" class="block-link">
            <img src="{{root}}assets/img/midojo_icon.png" alt="">
            <p class="project-title">MiDojo</p>
            <p class="description">Each one. Reach one. Teach one. A place to engage in mentorship and help fellow professionals grow.</p>
            <p class="fake-lnk">View Project</p>
          </a>
        </div>
      </div>
      <!-- <div class="project-small grid-x grid-margin-x">
          <div class="large-3 large-offset-2 small-12">
              <a href="https://paper.dropbox.com/doc/ReuKnight-vyxl1HyeY4UyZUDz6GKN9" target="_blank" class="block-link">
                <img src="{{root}}assets/img/re_icon.svg" alt="">
                <p class="project-title">reuKnight</p>
                <p class="description">Stay in touch with your friends when you go out on your adventures. Helps you get back to them even when your phone gives up.</p>
                <p class="fake-lnk">View Project</p>
              </a>
            </div>
            <div class="large-3 large-offset-2 small-12">
                <a href="/project/graphic_design/" class="block-link">
                  <img src="{{root}}assets/img/graphic_design.png " alt="">
                  <p class="project-title">Graphic Design</p>
                  <p class="description">Some of my recent graphic design projects.</p>
                  <p class="fake-lnk">View Project</p>
                </a>
              </div>
      </div> -->
      
    </div>
  </section>
  <section id="about">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="large-7 cell">
          
          <!-- <div class="sqr-buttons">
            <span class="left">
              <a href="https://www.linkedin.com/in/kchetan92/" target="_blank" class="linkedin picture-links-container">
                <span class="picture"></span>
              </a>
              <a href="https://www.behance.net/kchetan92" target="_blank" class="behance picture-links-container">
                <span class="picture"></span>
              </a>
              <a href="https://github.com/kchetan92" target="_blank" class="github picture-links-container">
                <span class="picture"></span>
              </a>
              <a href="https://www.instagram.com/kchetan92/" target="_blank" class="instagram picture-links-container">
                <span class="picture"></span>
              </a>
            </span>
            <span class="right">
              <a href="{{root}}/assets/Chetan_Keshav_resume.pdf" target="_blank" class="resume">Resume</a>
            </span>
          </div> -->
        </div>
        <!-- <div class="large-4 cell large-offset-1 dp">
          <img src="{{root}}/assets/img/chetan_about.png" alt="">
        </div> -->
      </div>
    </div>
  </section>
  <div class="preload" style="display: none;">
    <img src="{{root}}assets/img/linkedin_white.svg" alt="">
    <img src="{{root}}/assets/img/instagram_white.svg" alt="">
    <img src="{{root}}/assets/img/github_white.svg" alt="">
    <img src="{{root}}/assets/img/behance_white.svg" alt="">
  </div>

  <script async>(function(w, d) { w.CollectId = "5c888a815655366b1da4d86c"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document)</script>