---
title: Chetan Keshav -- Brushy Buddy
next_link: /project/brand/
next_name: Personal Branding
prev_link: /project/water-transition/
prev_name: Water Connection Transition
---

{{> floating_header}}

<section id="article" class="article brushybuddy">
  <div class="bg">
    <div class="grid-container">
      <div class="grid-x skills grid-margin-x bg">
        <div class="large-8 cell">
          <div class="intro">
            <div class="title">
              <p>Brushy Buddy
                <div class="subtitle">
                  <p>Ubiquitous Design to promote Dental Hygeine among kids </p>
                </div>
                <img src="{{root}}assets/img/brushybuddy/icon_2.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sticky-nav">
      <ul>
        <li class=""><a style="display: none"></a></li>
      </ul>   
  </div>
    <div class="grid-container">
      <div class="grid-x skills grid-margin-x">
        
        <div class="large-offset-2 large-8 cell">
          <h2 class="name" nav-group="overview" id="overview">Overview</h2>
        </div>
        
        <div class="large-offset-2 large-8 cell" nav-group="overview" >
          
          <p class="read">Dental hygiene is a major concern for new parents. They are often not well informed in dental hygiene and can pass on bad habits to their children. The children’s eating habits also vastly differ from the adults and are more prone to dental problems. To add to this problem, parents are busy and do have time to supervise brushing all the time.</p>
          
          <p class="read">We developed BrushyBuddy to tackle this problem. It is built on the principles of ubiquitous design and is very easy to use and learn for children. The product was thoroughly researched, tested and built using sensors and micro-controllers.</p>
          
        </div>
        
        <div class="large-offset-2 large-3 facts" nav-group="overview" >
          <h3>role</h3>
          <p class="read">UX Designer, Researcher, Developer, Video editor</p>
        </div>
        
        <div class="large-offset-1 large-3 facts" nav-group="overview" >
          <h3>duration</h3>
          <p class="read">4 months. Fall '18</p>
        </div>
        
        <div class="large-offset-2 large-3 facts" nav-group="overview" >
          <h3>team</h3>
          <p class="read">Chetan Keshav, Yuan Li, Sophia Chiu, Yezhi Deng</p>
        </div>
        
      </div>
    </div>
    
    <div class="section-wide-bg light-grey">
      <div class="grid-container">
        <div class="grid-x skills grid-margin-x">
          <div class="large-offset-2 large-8 cell">
            <h3 nav-group="salient-features" id="salient-features">salient features</h3>
            <h2 class="name">How BrushyBuddy works</h2>
          </div>
          <div class="large-10 large-offset-1 cell story">
            
            <div class="content">
              <div class="image-container video">
                <video autoplay loop muted playsinline poster="{{root}}assets/img/loading.gif">
                  <source src="{{root}}assets/img/brushybuddy/clean_1.mp4" type="video/mp4">
                  </video>
                </div>
                <div class="text">
                    <p class="read bold">Best way to teach brushing</p>
                  <p class="read">Learning by seeing was found to be the most effective way as compared to other modalities such as game, music, video or vibration. Since parents are too busy, they cannot monitor how the children are brushing. The mascot helps in this case.</p>
                </div>
              </div>
            </div>
            <div class="large-10 large-offset-1 cell story">
              <div class="content">
                <div class="image-container video">
                  <video autoplay loop muted playsinline poster="{{root}}assets/img/loading.gif">
                    <source src="{{root}}assets/img/brushybuddy/clean_3.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="text">
                    <p class="read bold">Mistakes will be made, and then rectified</p>
                    <p class="read">We don’t expect children to brush their teeth perfectly. They might not be through or even fail to follow instructions. The sensors on the brush record the brush movement to recognize the brush strokes, and the mascot gives immediate feedback and further instructions. The data is also sent to a companion app for parents too look and take corrective measures.</p>
                  </div>
                </div>
              </div>
              <div class="large-10 large-offset-1 cell story">
                <div class="content">
                  <div class="image-container video">
                    <video autoplay loop muted playsinline poster="{{root}}assets/img/loading.gif">
                      <source src="{{root}}assets/img/brushybuddy/clean_2.mp4" type="video/mp4">
                      </video>
                    </div>
                    <div class="text">
                      <p class="read bold">A reporting tool to assure parents</p>
                      <p class="read">The rewards of good brushing are well known, but not apparent immediately. Several steps have been taken to provide immediate gratification to ensure continuous use. After each brushing session, score is displayed on the screen. The companion app with the parents shows the progress for the entire calendar month. Based on the daily scores, an dental health score is also displayed.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="grid-container"><div class="grid-x skills grid-margin-x">
            
            <div class="large-offset-2 large-8 cell">
              <h3 nav-group="research-plan" id="research-plan" >research plan</h3>
              <h2 class="name">A reporting tool to assure parents</h2>
            </div>
            
            <div nav-group="research-plan" class="large-10 large-offset-1 cell">
              <img src="{{root}}assets/img/brushybuddy/research-plan.svg" class="middle-image vert-margin-image">
            </div>
            
            <div class="large-offset-2 large-8 cell">
              <h3 nav-group="background" id="background">background</h3>
              <h2 class="name">Motivation</h2>
            </div>
            
            <div class="large-offset-2 large-8 cell">
              <p class="read">Dental healthcare awareness among young children is a major among the parents. During a recent casual conversation among parents about their kids, I heard statements like:</p>
            </div>
            
            <div class="large-12 cell">
              <img src="{{root}}assets/img/brushybuddy/dental_concerns_questions.png" class="middle-image vert-margin-image">
            </div>
            
            <div class="large-offset-2 large-8 cell">
              <p class="read">Secondary research revealed that <span class="bold">5-years-old only brush 25%</span> of the surface of their teeth, compared to 50% of 11-years-old and 67% of 18-22-years-old (Rugg-Gunn & Mactretor, 1978).</p>
              
              <p class="read">My group and I concurred that this is a challenging problem statement and we started with some exploratory interviews to get a better sense of the problem.</p>
            </div>
            
            <div class="large-offset-2 large-8 cell">
              <h3 nav-group="observation-video-diary-study" id="observation-video-diary-study">observation: video diary study</h3>
              <h2 class="name">Understanding the end user</h2>
            </div>
            
            <div nav-group="observation-video-diary-study" class="large-offset-2 large-8 cell">
              <p class="read">To understand the children’s behavior towards brushing, we conducted <span class="bold">video diary studies.</span> Parents were asked to record a video of their children at home brushing their teeth. We found that</p>
              
              <p class="read"><span class="bold">Children feel excited about the process:</span> such as filling the cup with tap water, squeezing toothpaste from tube and stirring water to wash the brush.</p>
              
              <p class="read"><span class="bold">Children could not brush properly:</span> some kids suck toothpaste off the brush, some brush teeth horizontally and press hard. Parents are concerned about these habits.</p>
              
              <p class="read"><span class="bold">Children could not brush thoroughly:</span> usually neglected areas include biting surfaces of the back teeth and back of the front teeth</p>
              
              <!-- <ul class="read">    
                <li><span class="bold">Children feel excited about the process:</span> such as filling the cup with tap water,  squeezing toothpaste from tube and stirring water to wash the brush.</li>
                <li><span class="bold">Children could not brush properly:</span> some kids suck toothpaste off the brush, some brush teeth horizontally and press hard. Parents are concerned about these habits.</li>
                <li><span class="bold">Children could not brush thoroughly:</span> usually neglected areas include biting surfaces of the back teeth and back of the front teeth</li>
              </ul> -->
              
            </div>
            
            <div class="large-offset-2 large-8 cell">
              <h3>Converge #1</h3>
              <h2 class="name" nav-group="early-sketches" id="early-sketches">Early sketches</h2>
              <p class="read">Based on our findings, we sketched some initial ideas to address this issue.</p>
            </div>
            
            <div class="large-4 cell" nav-group="early-sketches">
              <figure class="article-image idea-image">
                <img src="{{root}}assets/img/brushybuddy/ex_idea2.png" class="">
                <figcaption>Water jet automatically cleans the mouth</figcaption>
              </figure>
            </div>
            <div class="large-4 cell" nav-group="early-sketches" >
              <figure class="article-image idea-image">
                <img src="{{root}}assets/img/brushybuddy/ex_idea3.png" class="">
                <figcaption>Toothbrush becomes a game controller to play the game on mirror.</figcaption>
              </figure>
            </div>
            <div class="large-4 cell" nav-group="early-sketches">
              <figure class="article-image idea-image">
                <img src="{{root}}assets/img/brushybuddy/ex_idea1.png" class="">
                <figcaption>Electric toothbrush monitors the area of mouth cleaned.</figcaption>
              </figure>
            </div>
            
            
            <div class="large-offset-2 large-8 cell">
              <h3 nav-group="survey" id="survey">survey</h3>
              <h2 class="name">Validating findings</h2>
            </div>
            
            <div class="large-offset-2 large-8 cell" nav-group="survey">
              <p class="read">The concepts developed in the previous step were <span class="bold">too broad</span>. Based on feedback from peers, we decided to conduct additional research to narrow our scope. A survey was conducted and data from 55 responses were analyzed. The findings <span class="bold">validated the interview findings.</span></p>
              <!-- <img src="{{root}}assets/img/brushybuddy/research_facts.png" class="half-size-image middle-image"> -->
              
            </div>
            
            <div class="large-offset-1 large-10 cell">
              <img src="{{root}}assets/img/brushybuddy/survey_facts.png" class="middle-image vert-margin-image per70-size-image">
            </div>
            
            <div class="large-offset-2 large-8 cell">
              <h3 nav-group="user-enactment" id="user-enactment">user enactments</h3>
              <h2 class="name">Putting the concepts to test</h2>
            </div>
            
            <div nav-group="user-enactment" class="large-offset-2 large-8 cell">
              <p class="read">Based on the survey, interview and video diary study we realized that the following factors can affect the design of the product</p>
              <p class="read"><span class="bold">Involvement of parents.</span> We want to know how the participation of parents affect the children and parent’s peace of mind.</p>
              <p class="read"><span class="bold">Story, music or game.</span> Different means can be adopted to develop interest in the rather monotonous activity of brushing. This is necessary to prolong the brushing activity to 2 minutes.</p>
              <p class="read"><span class="bold">Device type: toothbrush / mirror / toothbrush holder.</span> The team presented different arguments for and against each type of device.</p>
              
              <p class="read">We created a matrix to select from the combination of all the above factors and selected 5 prototypes to test with the participants. We made paper prototypes and prepares scripts for this. Following questions can help us judge the success of the chosen prototype:</p>
            </div>
            
            <div nav-group="user-enactment" class="large-8 large-offset-2 hmw">
              <p class="read">How might we encourage children to <span class="bold">brush teeth for enough time?</span></p>
              <p class="read">How might we help children to <span class="bold">brush teeth thoroughly?</span></p>
              <p class="read">How might we help parents to <span class="bold">supervise</span> children’s tooth brushing behavior?</p>
            </div>
            
            <div nav-group="user-enactment" class="large-10 large-offset-1 cell story">
              <div class="content">
                <div class="image-container full">
                  <img src="{{root}}assets/img/brushybuddy/ue_pic1.jpg" class="">
                  <p class="read story-caption">Paper prototypes</p>
                </div>
              </div>
            </div>
            
            <div nav-group="user-enactment" class="large-10 large-offset-1 cell story">
              <p class="read story-title">Storytelling</p>
              <div class="content">
                <div class="image-container">
                  <img src="{{root}}assets/img/brushybuddy/ue_pic5.jpg" class="">
                </div>
                <div class="text">
                  <p class="read">The user was introduced to the story and was shown a picture of the part of the mouth to brush. As they brushed their teeth, the progress bar was moved to indicate the completion percentage. After each segment, the user was shown the next part of the story and a new region in the mouth to brush their teeth. The story was divided into six segments to cover all the sections of the mouth.</p>
                  <p class="read cons">Cons: User could get distracted from brushing. It also adds to the time taken for the process. </p>
                </div>
              </div>
            </div>
            
            <div nav-group="user-enactment" class="large-10 large-offset-1 cell story">
              <p class="read story-title">Toothbrush Holder</p>
              <div class="content">
                <div class="image-container">
                  <img src="{{root}}assets/img/brushybuddy/ue_pic2.jpg" class="">
                </div>
                <div class="text">
                  <p class="read">The scenario involves one participant in the role of the kid without parents’ presence. It is now in the morning, and the kid goes to the bathroom to brush his/her teeth. As the kid picks up the toothbrush from the holder, the holder will start to interact with the kid to help the kid go through the toothbrushing process.</p>
                  <p class="read cons">Cons: User is distracted from looking at the mirror.</p>
                </div>
              </div>
            </div>
            
            <div nav-group="user-enactment" class="large-10 large-offset-1 cell story">
              <p class="read story-title">Musical animated character</p>
              <div class="content">
                <div class="image-container">
                  <img src="{{root}}assets/img/brushybuddy/ue_pic7.png" class="">
                </div>
                <div class="text">
                  <p class="read">The toothbrush holder plays "teeth brushing music" with the kid’s name, to remind the user that it is time to brush teeth. The cartoon character gives verbal instructions of how to brush teeth, by singing “left, left, right, right, circle, circle, one more time…”. At the end of the two minutes, the toothbrush holder will stop the music and give the kid a sticker as a little prize.</p>
                </div>
              </div>
            </div>
            
            <div nav-group="user-enactment" class="large-10 large-offset-1 cell story">
              <p class="read story-title">Toothbrush Holder Game</p>
              <div class="content">
                <div class="image-container">
                  <img src="{{root}}assets/img/brushybuddy/ue_pic3.jpg" class="">
                </div>
                <div class="text">
                  <p class="read">The kid will have a tooth-brushing competition with parent/sibling. The bars on the mirror shows the competition status. The lights on the toothbrush holders indicate the areas the kids need to brush. There’s a sensor in the toothbrush that can sense if the kid is brushing in the right way (circle/direction: up and down/) and if the kids thoroughly cleaned this area. If you are doing wrong, the toothbrush holder will remind the kid to brush the teeth correctly, and the competitor will exceed the kid.</p>
                </div>
              </div>
            </div>
            
            <div nav-group="user-enactment" class="large-offset-2 large-8 cell">
              <p class="read">
                <span class="bold">Insights from parents</span>
              </p>
              <p class="read">Parents feel that they <span class="bold">must teach kids</span> how to brush their teeth. Therefore they do not want a device to replace their tutoring function entirely. However, parents do hope that some tool could be in place to help kids brush their teeth correctly when they are <span class="bold">busy or not in a good mood</span> (e.g., in a busy morning).</p>
            </div>
            
            <div nav-group="user-enactment" class="large-offset-2 large-8 cell">
              <p class="read">
                <span class="bold">Insights from Kids</span>
              </p>
              <p class="read">Kids (3-5) cannot be pushed too hard in learning the correct tooth brushing behavior. Based on their ability as a very young kid, they cannot do the brushing movements very quickly, and we cannot expect them to be correct all the time. This would discourage kids, and frustrate them. It would be better to focus on the long-term goal by <span class="bold">teaching the kid gradually and step by step.</span></p>
            </div>
            
            
            <div nav-group="user-enactment" class="large-offset-2 large-8 cell">
              <p class="read">
                <span class="bold">Insights about device</span>
              </p>
              <p class="read">It will be distracting if we use mirror and toothbrush holder at the same time to show visual instructions (like the game prototype we did) since kids need to look up to see the mirror and then look down to see the toothbrush. <span class="bold">Displaying visual instructions on the mirror is the most natural</span> way to incorporate the smart device into the toothbrushing experience.</p>
            </div>
            
          </div>
        </div>
        
        <div class="section-wide-bg light-grey construction">
          <div class="grid-container">
            <div class="grid-x skills grid-margin-x">
              <div class="large-offset-2 large-8 cell">
                <h3 nav-group="physical-prototype" id="physical-prototype">physical prototype</h3>
                <h2 class="name">Building the smart mirror and toothbrush</h2>
              </div>
              
              <div nav-group="physical-prototype" class="large-offset-2 large-8 cell">
                <p class="read">Based on our findings from the user enactment, we concluded that parents should be involved in this process of educating the children and the solution should not distract the user much from the primary brushing activity.</p>
                
                <p class="read">We propose BrushyBuddy, a friendly mascot which guides the children how to brush. The mascot is displayed behind a two-way mirror so that the child is not distracted. The sensors on the brush predict the position of the brush and send the data over Bluetooth to the mascot. The mascot ensures that all the regions of the mouth are brushed well and for long enough. This data is also sent to the parents’ mobile app for them to look at the daily or weekly brushing logs.</p>
              </div>
              <div nav-group="physical-prototype" class="large-6 cell sketches">
                <figure class="article-image">
                  <img src="{{root}}assets/img/brushybuddy/sketches/brush_breakdown.png" class="">
                  <figcaption>Toothbrush encloses sensors and bluetooth module.</figcaption>
                </figure>
              </div>
              
              <div nav-group="physical-prototype" class="large-6 cell sketches">
                <figure class="article-image">
                  <img src="{{root}}assets/img/brushybuddy/sketches/user.png" class="">
                  <figcaption>The mascot is shown on the mirror.</figcaption>
                </figure>
              </div>
              
              <div nav-group="physical-prototype" class="large-6 large-offset-3 cell sketches">
                <figure class="article-image">
                  <img src="{{root}}assets/img/brushybuddy/sketches/flowchart.png" class="">
                  <figcaption>Toothbrush communicates with the LCD screen and a remote server.</figcaption>
                </figure>
              </div>
              
              <div nav-group="physical-prototype" class="large-8 large-offset-2 cell">
                <p class="read bold">Smart mirror</p>
                <p class="read">To make the two-way mirror, I pasted a reflective coating on an acrylic sheet and put an LCD screen behind the screen. The mirror reflected perfectly when nothing was displayed on the screen and showed only the mascot when shown.</p>
              </div>
              
              <div nav-group="physical-prototype" class="large-12 cell inline-one-third gallery-padding">
                <img src="{{root}}assets/img/brushybuddy/two_way1.jpg" class="">
                <img src="{{root}}assets/img/brushybuddy/two_way0.jpg" class="">
                <img src="{{root}}assets/img/brushybuddy/two_way2.jpg" class="">
              </div>
              
              <div nav-group="physical-prototype" class="large-8 large-offset-2 cell">
                <p class="read bold">Toothbrush with sensors</p>
                <p class="read">This prototype has a toothbrush fixed with an MPU6050 3 Axis Accelerometer Gyroscope Module, Arduino Nano and Bluetooth module. Since these electronic components are meant for prototyping, the form factor is quite large. The sensors can be implemented on a smaller chip as well. The monitor can be run with a Raspberry Pi.</p>
              </div>
              
              <div class="large-12 cell inline-one-third gallery-padding">
                <video autoplay loop muted>
                  <source src="https://media.giphy.com/media/kshULkhcwTjubCzC2m/giphy.mp4" type="video/mp4">
                  </video>
                  <img src="{{root}}assets/img/brushybuddy/brush2.jpg" class="">
                  <img src="{{root}}assets/img/brushybuddy/brush1.jpg" class="">
                </div>
                
                <div class="large-8 large-offset-2 cell">
                  <p class="read bold" nav-group="video" id="video">Demo Video</p>
                  <p class="read">I enjoyed working on the final video for this project. This was my first attempt at videography and editing.</p>
                  <p class="read">
                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/y7nz_yDx1xo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </p>
                </div>
                
              </div>
            </div>
          </div>
          
          
        </div>
        
      </div>
    </div>
    
  </div>
  
</div>
</section>

<div class="preload" style="display: none;">
  <img src="{{root}}assets/img/arrow_orange.svg" >
</div>
