@import "constants";


.header {
    text-align: right;
    display: block;
}

.open-button {
    @extend %sans-serif;
	a {
		color: #4a4a4a;
		text-decoration: none;
		margin-left: 12px;
		margin-top: 20px;

		padding: 0 2px 7px 20px;
		//border-bottom: 4px solid #000;
	}
}

.logo {
	height: auto;
}

.title-image img {
	max-width: 120px;
}

.top-bg {
    @extend %st-petersberg;
    border: 5vh white solid;
    height: 100vh;
	width: 100%;
    position: relative;
    @include breakpoint(medium down) {
        border: 0;
        height: inherit;
    }
}

.top-logo {
    padding: 5vh 5vh 0;
	@include breakpoint(medium down) {
        padding: 5vh 5vw 0;
    }
	img {
		width: 200px;
		height: auto;
		float: left;
	}
	header {
		float: right;
	}
}

#introduction {
    margin: 170px 5vw 0;
    padding-bottom: 20vw;
    color: #353535;
    .hi img {
        padding: 30px 0;
    }
    @include breakpoint(medium down) {
        margin-top: 70px;
    }
    .subtitle {
        @extend %sans-serif;
        font-weight: 400;
        color: #4a4a4a;
        font-size: 30px;
        @include breakpoint(medium down) {
            font-size: 20px;
        }
        line-height: 1.415;
        margin: 0;
        p {
            margin: 0;
        }
        .underline{
            position: relative;
            display: inline-block;
            z-index: 10;
            &:before {
                content: '';
                width: 100%;
                height: 6px;
                border-radius: 20px;
                opacity: 0.5;
                display: inline;
                position: absolute;
                background: $theme-green;
                left: 0;
                @include breakpoint(medium down) {
                    bottom: 5px;
                }
                bottom: 10px;
                z-index: -1;
            }
        }
    }
}

.blade-cover {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.blade {
    width: 3px;
    height: 19px;
    border-radius: 10px;
    background: #f0f3f7;
    &.color {
        background: $theme-green;
    }
}

.field {
    font-size: 0;
    display: block;
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    @include breakpoint(medium down) {
        display: none;
    }
}

#projects {
    margin: 200px 5vw 0;
    @include breakpoint(medium down) {
        margin-top: 50px;
    }
    overflow-x: visible;
    @extend %sans-serif;
    p {
        margin: 0;
    }
    .project-title {
        font-size: 32px;
        color: #353535;
        margin: 30px 0;
        @include breakpoint(medium down) {
            font-size: 20px;
            margin: 10px 0;
        }
    }
    .description {
        font-size: 20px;
        color: #767676;
        @include breakpoint(medium down) {
            font-size: 12px;
        }
    }
    .project {
        margin-bottom: 100px;
    }

    .image-container {
        position: relative;
        > img {
            z-index: 10;
            position: relative;
        }
        
    }

    .right {
        text-align: right;
        @include breakpoint(medium down) {
            text-align: left;
        }
    }

    .gale {
        margin-bottom: 300px;
        @include breakpoint(medium down) {
            margin-bottom: 100px;
        }
        .image-container > img {
            @include breakpoint(medium down) {
                height: auto;
            }
            // height: 260px;
            width: auto;
            margin: 20px 0;
        }
        .image-container {
            margin-top: 0;
            @include breakpoint(medium down) {
                margin-top: 40px;
            }
        }
    }

    .chi {
        margin-bottom: 200px;
        @include breakpoint(medium down) {
            margin-bottom: 100px;
        }
        .image-container > img {
            height: auto;   
            max-height: inherit;
            @include breakpoint(medium down) {
                margin-top: 20px;
            }
        }
    }
    .brushybuddy {
        margin-bottom: 300px;
        @include breakpoint(medium down) {
            margin-bottom: 200px;
        }
        .image-container > img {
            top: -40px;
            width: auto;
            left: 0;
            max-height: 450px;
            @include breakpoint(medium down) {
                height: 200px;
                top: 40px;
            }
        }
    }
}

.project-small {
    margin-bottom: 150px;
    img {
        height: 200px;
        width: auto;
    }
}