@import "constants";

// possible scheme with the theme
// https://color.adobe.com/Copy-of-Copy-of-Copy-of-Core-color-theme-11666725/
// 112F41, 068587, 4FB99F, F2B134, ED553B

// pastel colors
// https://coolors.co/b0d0d3-c08497-f7af9d-f7e3af-f3eec3



///////////
//
// Footer
//
///////////

body {
	overflow-x: hidden;
}

footer {
	background-color: $theme-grey-bg;
	padding: 15px 0;
	color: #666;
	text-align: center;
	line-height: 2;
	a {
			color: #666;
			padding: 0 5px;
		}
}

.navigate {
	text-align: center;
}

.read {
	@extend %sans-serif;
	font-weight: 500;
}

q.read {
	font-weight: $regular-weight;
	font-size: 24px;
}

//https://davidwalsh.name/lazyload-image-fade

img {
	opacity: 1;
	transition: opacity 0.3s;
}

img[data-src] {
	opacity: 0;
}

///////////
//
// Project Page
//
///////////

.floating-header {
	background: #FFF;
	padding: 25px 0;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	transition: top 0.4s ease 0s;
	z-index: 10;
}

.floating-header.hidie {
	top: -90px;
}

.logo-horizontal {
	width: 200px;
	height: auto;
}


#article {
	margin-top: 74.25px;
	margin-bottom: 100px;
}

.cell.dd {
	margin-top: 30px;
}

.article {
	.title {
		font-size: 50px;
		@include breakpoint(medium down) {
			font-size: 35px;
			margin-top: 0;
		}
	}
	h2.title {
		font-size: 30px;
		margin: 0 0 20px;
	}
	.title.double {
		margin-bottom: 0;
	}
	p, ul {
		font-size: 18px;
	}
	margin-top: 30px;
	h2 {
		margin-top: 60px;
	}
	h3 + h2 {
		margin-top: 0;
	}
	h3 {
		//@extend %sans-serif;
		margin: 120px 0 0;
		font-weight: 400;
		color: #7b7b7b;
		//font-weight: $regular-weight;
	}
	.facts {
		h3 {
			margin: 18px 0 0;
			@extend %sans-serif;
		}
		p.read {
			margin: 0;
		}
	}
	h4 {
		font-size: 18px;
	}
	.cover {
		margin-bottom: 50px;
		@include breakpoint(medium down) {
			margin-bottom: 20px;
		}
	}

	&.gale {
		>.bg {
			@extend %green-blue-bg;	
		}
		.bg {
			position: relative;
			margin-bottom: 10vh;
		}
		.concept {
			img {
				padding: 0 15px 15px 0
			}
		}
	}

	&.brushybuddy {
		>.bg {
			@extend %plum-plate;
		}
		.bg {	
			position: relative;
			margin-bottom: 10vh;
		}
		.concept {
			img {
				padding: 0 15px 15px 0
			}
		}
		.bold {
			
		}

		.intro .title {
			img {
				height: 55vh;
				width: auto;
			}
		}
	}

	&.athletejuvo {
		>.bg {
			@extend %yellow-gradient-radial;
		}
		.bg {	
			position: relative;
			margin-bottom: 10vh;
		}
		.concept {
			img {
				padding: 0 15px 15px 0
			}
		}
		.bold {
			
		}

		.intro .title {
			img {
				height: 55vh;
				width: auto;
			}
			p {
				color: #353535;
			}
		}
	}

	&.brand {
		>.bg {
			@extend %heavy-rain;
			.skills {
				position: relative;
			}
		}

		.intro {
			.title {
				p {
				color: #353535;
				}
				img {
					width: 20vw;
				}
			}
		}
	}

	&.midojo {
		>.bg {
			@extend %party-bliss;
			.skills {
				position: relative;
			}
		}

		.intro {
			.title {
				p {
				color: #353535;
				}
				img {
					width: 35vw;
					right: -10vw;
				}
			}
		}
		.accent-color {
			color: #006064;
		}
		.accent {
			color: #006064;
			font-size: 14px;
		}
	}

	.intro {
		height: 40vh;
		//text-align: center;
		margin-bottom: 30vh;

		.title {
			padding-top: 70px;
			p {
				@extend %serif;
				font-size: 50px;
				padding: 0;
				margin: 0;
				color: #FFF;
				line-height: 1.2;
			}
			img {
				width: 35vw;
				height: auto;
				margin-top: 90px;
				position: absolute;
				right: 0;
				bottom: -10vh;
			}
			.subtitle {
				padding-top: 20px;
				p {
					@extend %sans-serif;
					font-weight: 600;
					font-size: 16px;	
				}
			}
		}
	}
}

q {
	font-size: 15px;
	display: inline-block;
	font-weight: $bold-weight;
	padding: 20px;
}

.chapter {
	margin: 10px 0 30px;
	h2.name {
		margin: 0;
	}
}

.reactions {
	&>.cell {
		margin-bottom: 30px;
	}
	figure.article-image {
		text-align: center;
		img {
			display: inline-block;
			width: 50%
		}
		figcaption {
			font-style: normal;
			margin: 20px 20px 0;
			font-size: 12px;
			.who {
				text-align: center;
				font-size: 18px;
				margin: 0 0 10px;
				font-weight: $bold-weight;
			}
			text-align: left;
		}
	}
}

.image-paper-prototype > div {
	display: inline-block;
	padding: 0 10px 10px 0;
	background-size: contain;
	height: 510px;
	background-repeat: no-repeat;
}

figure.article-image {
	margin: 0;
	figcaption {
		font-size: 14px;
		font-style: italic;
		color: #555;
		margin: 20px 40px 20px 0;
		a {
			color: #555;
		}
	}
	figcaption.full {
		margin-right: 0;
	}
	&.center {
		text-align: center;
	}
}
figure.right-inline {
	float: right;
	figcaption {
		margin-right: 0;
	}
	@include breakpoint(medium down) {
		float: none
	}
}

.text-center {
	text-align: center;
}

#sticky-nav {
	position: -webkit-sticky;
	position: sticky;
	display: inline-block;
	top: 80px;
	margin-top: 120px;
	ul {
		list-style-type: none;
		padding-left: 5px;
	}
	a {
		font-size: 12px;
		color: #888;
		text-decoration: none;
	}
	li a{
		transition: all 0.3s ease-in;
	}
	li.active {
		a, a:hover {
			color: #006064;
		}
	}
}

@import "homepage";
@import "petty";
