
figure.small {
	width: 20%;
	margin: 15px;
	@include breakpoint(medium down) {
		width: 50%;
	}
}

figure.half {
	width: 50%;
	figcaption {
		margin-right: 0;
	}
	@include breakpoint(small down) {
		width: 100%;
	}
}


figure.chapter-image.down-60 {
	margin-top: 60px;
}

figure.chapter-image.down-30 {
	margin-top: 30px;
}

.zoom-us {
	&:hover {
		cursor: zoom-in;
	}
}

.logo-gif {
	height: 150px;
}

.personas {
	.Wallop .sqr-buttons {
		margin-right: 50px;
	}
}

.low-fi {
	.sqr-buttons {
		margin-top: 20px;
	}
}
.hi-fi {
	.Wallop-list {
		img {
			max-width: 300px;
			display: inline-block;
		}
	}
}

.half-size-image {
	width: 49%;
}

.quarter-size-image {
	width: 25%;
}

.per70-size-image {
	width: 70%;
}

.middle-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.vert-margin-image {
	margin-top: 30px;
	margin-bottom: 30px;
}

.top-margin-150 {
	margin-top: 150px;
}

.top-margin-30 {
	margin-top: 30px;
}

.wasd .sqr-buttons {
	float: right;
	.picture-links-container {
		margin-left: 4px;
		cursor: pointer;
		display: inline-block;
		&:hover {
			border-color: $theme-orange;
		}
	}
}

.facts {
	h3 {
		margin-top: 30px;
	}
}

.one-four-image {
	display: inline-block;
	width: 23%;
}

.issuuembed {
	margin-bottom: 100px;
}

.section-wide-bg {
	margin-top: 200px;
	&.light-grey {
		background: #f0f0f0;
	}
	h3 {
		margin-top: 30px;
	}
}

.inline-one-third {
	> * {
		display: inline;
		font-size: 0;
		text-align: center;
		width: 32%;
		vertical-align: top;
	}
}

.preview-screen {
	padding: 50px 0;
	font-size: 0;
	img {
		padding: 0 20px 20px 0;
	}
}

.bold {
	font-weight: bold;
}

.idea-image {
	img {
		height: 200px;
		width: auto;
	}
	text-align: center;	
}

.hmw {
	p {
		width: 32%;
		display: inline-block;	
		vertical-align: top;
		text-align: center;
	}
}

.story {
	background-color: #f0f0f0;
	border-radius: 15px;
	margin-top: 80px;
	.image-container {
		margin: 15px;
		border-radius: 15px;
		width:40%;	
		overflow: hidden;
		display: inline-block;
		&.full {
			width: inherit;
		}
		&.video {
			border-radius: 0;
			video {
				border-radius: 15px;
				width: 100%;
			}
		}
	}
	.text {
		display: inline-block;
		margin: 15px;
		width: 50%;
		vertical-align: top;
		.read {
			margin-top: 0;
		}
	}
	.cons {
		font-style: italic;
	}
	.story-title {
		font-weight: bold;
		margin-left: 30px;
		margin-bottom: 0;
	}
	.story-caption {
		text-align: center;
		margin-bottom: 0;
	}
}

.full-video video {
	width: 100%;
}

.sketches {
	img {
		max-height: 400px;
		margin: 0 auto;
	}
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;	
}

@keyframes slider {
	0%, 28.9% {
		left: 11%
	}
	33.4%, 62.3% {
		left: -117%;
	}
	66.6%, 100%{
		left: -243%
	}
	
}

.brushybuddy {
	.gallery-padding {
		> * {
			padding: 30px;
		}
	}
	.introduce {
		position: relative;
		.phone-frame {
			z-index: 2;
		}
		.steps	{
			position: absolute;
			top: 23%;
			left: 11%;
			width: 338.33%;
			z-index: 0;
			animation-duration: 6.9s;
			animation-name: slider;
			animation-iteration-count: infinite;
			animation-timing-function: ease-out;
		}
		.steps-container {
			position: absolute;
			top: 0;
			height: 100%;
			width: 60%;
			overflow: hidden;
			left: 17%;
		}
	}
}

.parallax {
	height: 70vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.athletejuvo {
	.affinity-wall {
		img {
			margin-top: 20px;
		}
	}
}

.block-link {
	text-decoration: none;
}

ul.small-points {
	font-size: 15px;
	li>p {
		font-size: 15px;
	}
}

#lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    top: 0;
	z-index: 100;
	text-align: center;
	display: none;
	&.open {
		display: block;
	}
	overflow: hidden;
	cursor: url("/assets/img/close.png"), auto;
	.closeIcon {
		position: absolute;
		top: 0;
		right: 0;
	}
	.main {
		height: 100vh;
		max-height: 100vh;
		margin: 20px auto;
		cursor: default;
	}
}

// .lightbox-enable {
// 	cursor: pointer;
// }


.info-section {
	margin: 18px 0;
	p.read, ul {
		margin :0;
	}
}




