---
title: Chetan Keshav -- AthleteJuvo Gamification for Athlete Rehabilitation Exercises and Social Support
next_link: /project/brand/
next_name: Personal Branding
prev_link: /project/water-transition/
prev_name: Water Connection Transition
---
{{> floating_header}}
<section id="article" class="article athletejuvo">
  <div class="bg">
    <div class="grid-container">
      <div class="grid-x skills grid-margin-x bg">
        <div class="large-8 cell">
          <div class="intro">
            <div class="title">
              <p>AthleteJuvo</p>
              <div class="subtitle">
                <p>UX Research & Design</p>
                <p>For Student Design Competition at CHI'18</p>
              </div>
              <img src="{{root}}assets/img/athletejuvo/phone.png" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x skills grid-margin-x">
      
      <div class="large-offset-2 large-8 cell">
        <h2 class="name">Overview</h2>
      </div>
      
      <div class="large-offset-2 large-8 cell">
        
        <p class="read"></p>
      </div>
      
      <div class="large-offset-2 large-3 facts">
        <h3>role</h3>
        <p class="read">UX Design & Researcher</p>
      </div>
      
      <div class="large-offset-1 large-3 facts">
        <h3>duration</h3>
        <p class="read">3 months. Summer '18</p>
      </div>
      
      <div class="large-offset-2 large-3 facts">
        <h3>tools</h3>
        <p class="read">Interviewing, Prototyping using Axure, Design Sprint.</p>
      </div>
      
      <div class="large-offset-1 large-3 facts">
        <h3>team</h3>
        <p class="read"> Chetan Keshav, Yu-Yin Shen, Shih-Ting Lin, Yi Lee</p>
      </div>
      
      
      <div class="large-8 large-offset-2 cell">
        <h3>problem statement</h3>
        <h2 class="name">When athletes get injured</h2>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <img src="{{root}}assets/img/athletejuvo/reflect.png"  class="small-preview half-size-image middle-image vert-margin-image">
        <p class="read">Daily practice, demanding training routine and interacting with fellow teammates and coach is an essential part of an athletes' social life. But when they get injured, they are unable to participate in these activities. Common symptoms include depression, loss of identity and isolation. The rehabilitation process is slow and frustrating.</p>
      </div>

      <div class="large-8 large-offset-2 cell">
        <h3>design decisions</h3>
        <h2 class="name">Features to cater to the needs of the user≈</h2>
      </div>







      <div class="large-3 large-offset-2 cell">
        <img src="{{root}}assets/img/athletejuvo/screen_mockup/1.png" class="vert-margin-image">
      </div>

      <div class="large-4 large-offset-1 cell mockup-description align-self-middle">
        <p class="read bold">Home Page</p>
        <p class="read">The app promotes the athletes to follow their physiotherapy schedule. The injured athletes from rival varsity teams are pitted against each other to complete their exercises regularly.</p>
      </div>







      <div class="large-4 large-offset-2 cell mockup-description align-self-middle">
        <p class="read bold">Achievements</p>
        <p class="read">The participants are incentivized to participate regularly. A winning streak is needed for one university to defeat the other. The importance of overall score promotes collaboration.</p>
      </div>

      <div class="large-3 large-offset-1 cell">
        <img src="{{root}}assets/img/athletejuvo/screen_mockup/2.png" class="vert-margin-image">
      </div>




      <div class="large-3 large-offset-2 cell">
        <img src="{{root}}assets/img/athletejuvo/screen_mockup/3.png" class="vert-margin-image">
      </div>

      <div class="large-4 large-offset-1 cell mockup-description align-self-middle">
        <p class="read bold">Call the squad</p>
        <p class="read">The app also promotes your squad to help you out. Even if they're not injured, they can work out with you to add to your points.</p>
      </div>





      <div class="large-4 large-offset-2 cell mockup-description align-self-middle">
        <p class="read bold">Your guide</p>
        <p class="read">Athletes now don't have to memorize or understand complex physiotherapy routines. AthleteJuvo app helps keep a count of your exercises and shows you how it's done.</p>
      </div>

      <div class="large-3 large-offset-1 cell">
        <img src="{{root}}assets/img/athletejuvo/screen_mockup/4.png" class="vert-margin-image">
      </div>
      




      <div class="large-3 large-offset-2 cell">
        <img src="{{root}}assets/img/athletejuvo/screen_mockup/5.png" class="vert-margin-image">
      </div>

      <div class="large-4 large-offset-1 cell mockup-description align-self-middle">
        <p class="read bold">Real connections</p>
        <p class="read">Instead of competing just online, the app promotes the athletes to team up with other injured athletes who might be in the same gym. Such interactions are incentivized.</p>
      </div>
      
    </div>
  </div>

  
  
  <div class="section-wide-bg light-grey">
    <div class="parallax" style="background-image: url('{{root}}assets/img/athletejuvo/collage.png')"></div>
  </div>
  
  <div class="grid-container">
    <div class="grid-x skills grid-margin-x">
      
      <div class="large-8 large-offset-2 cell">
        <h3>phase 1 - survey</h3>
        <h2 class="name">Isolation and Depression are major concerns</h2>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <p class="read">Based on what we had discovered so far, we designed a survey to validate our assumptions and gain useful insights. We contacted multiple athlete groups at the University of Michigan to participate in the online survey on hosted on Surveycake. Of the 87 athletes who had faced serious injury, <span class="bold">92% reported suffering from isolation and depression.</span></p>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <h3>phase 2 - expert interview</h3>
        <h2 class="name">Talking to the experts</h2>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <p class="read">To get an overview of the process, we contacted some experts in the field. Interviews from a physical therapist at the University of Michigan, mental coach and admin of a famous Facebook group dealing with well being of injured athletes gave us an overview of what athletes go through during the recovery period. We learned that athletes often do not complete the rehabilitation process.</p>
      </div>
      
      <div class="large-5 large-offset-1 cell vert-margin-image text-center">
        <figure class="article-image">
          <img src="{{root}}assets/img/athletejuvo/expert-interview-1.jpg" class="">
          <figcaption>Learning of the experiences of a physical therapist.</figcaption>
        </figure>
      </div>
      
      <div class="large-5 cell vert-margin-image text-center">
        <figure class="article-image">
          <img src="{{root}}assets/img/athletejuvo/expert-interview-2.jpg" class="">
          <figcaption>Equipments at the facility.</figcaption>
        </figure>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <h3>phase 3 - injured athlete interview</h3>
        <h2 class="name">Athletes' perspective</h2>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <p class="read">Some of the participants of the online interview agreed to meet us for a face to face interview. An interview protocol was created based on expert interview and results from the survey. Their tales of injury and recovery gave helped us empathize with them and live the experience.</p>
        
        <p class="read">We learned that they had a tough time keeping track of their rehabilitation process since it is slow and progress is hard to notice. Some athletes who had suffered serious injuries had a tough time coping with the fact that they might not be able to participate for a very long time.</p>
      </div>
      
      <div class="large-4 large-offset-2 cell">
        <q class="read">I’m definitely a competitive person. My whole life has been that way, so it’s definitely translating to my personality</q>
      </div>
      
      <div class="large-4 cell">
        <q class="read">Nobody truly understands what you’re going through, It’s a lonely process. Fully recovering from an injury is 90% percent mental, 10% physical.</q>
      </div>
      
      <div class="large-4 large-offset-2 cell">
        <q class="read">Injuries made me feel at times like I wasn't a part of the team. And I was a captain.</q>
      </div>
      
      <div class="large-4 cell">
        <q class="read">Most of my social interaction came through my sport; without being able to go ride a bike with my friends, I was pretty lonely.</q>
      </div>
      
      <div class="large-12 cell">
        <figure class="article-image text-center">
          <img src="{{root}}assets/img/athletejuvo/athlete-interview.jpg" class="">
          <figcaption>An interview in progress. We had the fortune to talking to some brave athletes who had gone through the gruelling experience.</figcaption>
        </figure>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <h3>affinity wall</h3>
        <h2 class="name">Assimiliating our thoughts</h2>
      </div>
      
      <div class="large-5 large-offset-2 cell">
        <p class="read">We created an affinity wall to discover trends from the information we had on an online whiteboard called realtimeboard. It allows real-time collaboration, has a simple UI and supports exporting in PDF. It was very easy to tag the notes and move them (as a group or individually) around the board.</p>
      </div>
      
      <div class="large-3 cell affinity-wall">
        <img src="{{root}}assets/img/athletejuvo/affinity_wall.gif" class="">
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <h3>personas</h3>
        <h2 class="name">Identifying the target user</h2>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <p class="read">We found athletes at varying stages of recovery and different severity of the injury. We decided to focus on two broad categories and made two personas to go with it.</p>
      </div>
      
      <div class="large-4 large-offset-2 cell">
        <img src="{{root}}assets/img/athletejuvo/persona1.svg" class="vert-margin-image">
      </div>
      
      <div class="large-4 cell">
        <img src="{{root}}assets/img/athletejuvo/persona2.svg" class="vert-margin-image">
      </div>
      
    </div>
  </div>
  
  <div class="section-wide-bg light-grey">
    <div class="grid-container">
      <div class="grid-x skills grid-margin-x">
        
        <div class="large-8 large-offset-2 cell">
          <h3>ideas</h3>
          <h2 class="name">Goals for the potential solutions</h2>
        </div>
        
        <div class="large-4 cell">
          <img src="{{root}}assets/img/athletejuvo/goal_bond.svg" class="vert-margin-image quarter-size-image">
          <p class="read"><span class="bold">Bond injured athletes</span></p>
          <p class="read">Varsities with sufficient student population can accumulate a critical mass of injured students to form a community where they can share knowledge, experience and empathize with each other.</p>
        </div>
        
        <div class="large-4 cell">
          <img src="{{root}}assets/img/athletejuvo/goal_track.svg" class="vert-margin-image quarter-size-image">
          <p class="read"><span class="bold">Track excercise progress</span></p>
          <p class="read">This allows us to gamify the rehabilitation process. We can achieve some reliability in the tracking process by asking users to use a tracking device during the workout.</p>
        </div>
        
        <div class="large-4 cell">
          <img src="{{root}}assets/img/athletejuvo/goal_fun.svg" class="vert-margin-image quarter-size-image">
          <p class="read"><span class="bold">Has to be fun</span></p>
          <p class="read">The success of the solution lies in its popularity. It should be fun and engaging.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="grid-container">
    <div class="grid-x skills grid-margin-x">
      <div class="large-8 large-offset-2 cell">
        <h3>tech exploration</h3>
        <h2 class="name">Empowering the injured with technology</h2>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <p class="read">Now that we had the background research and personas ready, we thought of some ideas to simplify the rehabilitation exercise. A solution which could detect the counts of exercises being performed. We considered several technologies such as Kinect and ECG devices. But they lacked mobility or accuracy. We decided to use stretchable sensors to detect motion.</p>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <h3>solution</h3>
        <h2 class="name">AthleteJuvo</h2>
      </div>
      
      <div class="large-8 large-offset-2 cell">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Uxb_P2wTMYc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p class="read">AthleteJuvo aims at connecting the injured athlete to the society. Keep them involved and around other people. It is a mobile application to gamify, visualize and socialize the rehabilitation process.</p>
      </div>





    
      

    </div>
  </div>
  
</div>

</div>
</section>
<div class="preload" style="display: none;">
  <img src="{{root}}assets/img/arrow_orange.svg" alt="">
</div>